<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Nostrum assumenda magni adipisci eligendi nisi dolor est 
            facere odio, soluta necessitatibus maiores quam modi veritatis quis aut saepe accusamus tempore a!
        </p>
    </div>
</div>