<div class="jumbotron mt-4">
    <h1 class="display-4">Notes  App Node JS and mongo DB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nulla aliquid consequatur exercitationem recusandae rerum quis nostrum dicta aut deserunt sit, iure quidem, consequuntur ab ipsam. Recusandae atque asperiores laboriosam?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, quibusdam ducimus doloribus odio quo itaque fuga ullam eaque odit consequatur praesentium accusantium beatae ab voluptatem voluptate. Numquam quisquam quibusdam obcaecati.</p>
    <a href="http:faztweb.com" class="btn btn-primary btn-l">DevNest</a>

</div>